/* INDEX */

* {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
    padding: 0;
}

#home-hero {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 40px;
}

#contTxtBtn {
    font-size: 20px;
    display: flexbox;
    padding: 0% 10%;
}

#btn01{
    background-color: #000;
    color: #fff;
    border-color: none;
    padding: 08px 30px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#btn01:hover{
    background-color: #fff;
    color: #000;
}

.imgex {
    background-color: #fff;
}

hr{
    border: none;
    height: 20px;
    background-color: #fff;
}


#socialProof{
    height: 200px;
    font-size: 20px;
    text-align: center;
    align-items: center;
}

.socialCircle{
    display: flexbox;
    width: 08%;
    margin: 10px 5px;
}