/* INDEX.HTML */

* {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*Sessão de Destaque*/
#sessaoDestaque, #sessaoDestaque2 {
    text-align: center;
}

#sessaoDestaque2 {
    background: linear-gradient(15deg, #ff7f50, #ffc0cb);
}

#destaques1, #destaques2 {
    display: grid;
}

#destaques1 {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#sessaoDestaque2, #destaques2 {
    grid-template-columns: repeat(3, 1fr);
    align-items:center;
}